@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */
